
.navbar-con{
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;

}
.navbar{
    padding-top: 50px;
    height: 28px;
    width: 119px;
    justify-content: center;
    align-items: center;
    display: flex;

}
.group-chat{
    display: grid;
    grid-template-areas: "left mid right";
    padding-top: 30px;
}
.propic1{
    grid-area: left;
}
.propic2{
    grid-area: right;
}
.textcon{
    grid-area: mid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.majtxt{
    margin-bottom: 0;
    max-width: 445px;
    font-size: 64px;
    line-height: 64px;
    text-align: center;
    color: #28283D;
    font-weight: bold;
}
.minjxt{
    text-align: center;
    max-width: 540px;
    font-size: 18px;
    line-height: 26px;
    font-weight: lighter;
    color: #87879D;
}
.butt{
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 15px;
}

.dload{
    position: relative;
    background-color:#4D96A9;
    color: #FFFFFF;
    border-radius: 30px;
    border: none;
    width: 155px;
    height: 58px;
    font-size: 16px; 
    line-height: 26px;
    padding-right: 30px;
}
.dload:hover {
    background-color:#71C0D4;
    transition: 0.7s;
}
.vtx{
    position: absolute;
    bottom: 430px;
    left: 765px;
    color: #8FE3F9;
}
.what{
    background-color:#855FB1;
    color: #FFFFFF;
    border-radius: 30px;
    border: none;
    width: 110px;
    height: 58px;
    font-size: 16px; 
    line-height: 52px;
    text-align: center;
}
.what:hover {
    background-color:#B18BDD;
    transition: 0.7s;
}
.path{
text-align: center;
padding-top: 130px;
}

.team{
    padding: 50px 0px;
    align-items: center;
    width:100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 25px;
}

.pic img{
    border-radius: 2%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.share{
    text-align: center;
}
.txt1{
    text-transform: uppercase;
    color: #4D96A9;
    font-size: 18px;
    line-height: 26px;
}
.txt2{
    color: #28283D;
    font-size: 40px;
    line-height: 44px;
    font-weight: bold;
}
.txt3{
    color: #87879D;
    font-size: 18px;
    line-height: 26px;
    font-weight: lighter;
}
.sub-con{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 40vh;
    display: flex; 
}
  .mincon{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    align-items: center;
    justify-items: center;
}
  .right{
    color: #FAFAFA;
    font-size: 40px;
    line-height: 44px;
    font-weight: bold;
}
.midd{
    color: #FAFAFA;
    font-size: 18px;
    font-weight: lighter;
    line-height: 26px;
}
.button{
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 15px;
}
.dloadbut{
    position: relative;
    background-color:#855FB1;
    color: #FFFFFF;
    border-radius: 30px;
    border: none;
    width: 155px;
    height: 58px;
    font-size: 16px; 
    line-height: 26px;
    padding-right: 30px;
}
.dloadbut:hover {
    background-color:#B18BDD;
    transition: 0.7s;
}
.vtxt{
    position: absolute;
    right: 208px;
    color: #D9B8FF;
}
.path1{
    text-align: center;
    padding-top: 130px;
}
.path1 img{
    position: relative;
    bottom: -20px;
} 


/* === Tablet === */
@media only screen and (min-width: 768px) and (max-width: 947px){
    .body{
        margin: 0;
        padding: 0;  
    }
    .txt1{
        font-size: 16px;
    }
    .group-chat{
        grid-template-areas: 
            "left right"
            "mid mid";
    }
    
    .vtx{
    bottom: 215px;
    left: 350px;
    }
    .majtxt{
        margin-bottom: 5px;
    }
    .textcon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }

    .mincon{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .right{
        text-align: center;
    }
    .midd{
        margin: 20px 0px;
    }
    .vtxt{
        right: 328px;
    }
}


/* === Mobile === */

@media only screen and (min-width: 320px) and (max-width: 767px){
    body{
        align-items: center ; 
        justify-content: center; 
} 
     .grp{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center; 
    } 

    .group-chat{
        grid-template-areas: 
            "left right"
            "mid mid";
    }
    .vtx{
        top: 500px;
        left: 185px;
    }
    .team{
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }
    .textcon{
        width: 100vw;
         /* display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;  */
    }
    .majtxt{
        width: 100%;
        font-size: 40px;
        line-height: 44px;
        /* margin: 0;  */
    }
    .minjxt{
        font-size: 16px;
    }
    .txt1{
        font-size: 14px;
    }
    .txt2{
        font-size: 32px;
    }

    .butt{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .dload{
        margin-right: 0px;
    }
    .what{
    margin-top: 10px;
    }
    .mincon{
        grid-template-columns: 1fr;

    }
    .right{
        font-size: 32px;
        text-align: center;
        line-height: 36px;
    }
    .midd{
        text-align: center;
    }
    .vtxt{
        right: 105px;
    }
    
}

