body{
    box-sizing: border-box;
}
.navbar-con{
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;

}
.navbar{
    margin-left: 80px;
    padding-top: 50px;
    height: 28px;
    width: 119px;
}
.group-chat{
    padding-top: 30px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}
.propic1{
    display: flex;
    justify-content: flex-start;
}
.propic2{
    display: flex;
    justify-content: flex-end;
}
.textcon{
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.majtxt{
    width: 445px;
    font-size: 64px;
    line-height: 64px;
    text-align: center;
    color: #28283D;
    font-weight: bold;
    padding-left: 50px;
}
.minjxt{
    text-align: center;
    width: 540px;
    font-size: 18px;
    line-height: 26px;
    font-weight: lighter;
    color: #87879D;
}
.butt{
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 15px;
}

.dload{
    position: relative;
    background-color:#4D96A9;
    color: #FFFFFF;
    border-radius: 30px;
    border: none;
    width: 193px;
    height: 58px;
    font-size: 16px; 
    line-height: 26px;
    padding-right: 30px;
}
.dload:hover {
    background-color:#71C0D4;
    transition: 0.7s;
}
.vtx{
    position: absolute;
    bottom: 313px;
    left: 680px;
    color: #8FE3F9;
}
.what{
    background-color:#855FB1;
    color: #FFFFFF;
    border-radius: 30px;
    border: none;
    width: 139px;
    height: 58px;
    font-size: 16px; 
    line-height: 52px;
    text-align: center;
}
.what:hover {
    background-color:#B18BDD;
    transition: 0.7s;
}
.path{
text-align: center;
padding-top: 130px;
}

.team{
    padding: 50px 0px;
    align-items: center;
    width:100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 25px;
}

.pic img{
    border-radius: 2%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.share{
    text-align: center;
    width: 100%;
}
.txt1{
    color: #4D96A9;
    font-size: 16px;
    line-height: 26px;
}
.txt2{
    color: #28283D;
    font-size: 40px;
    line-height: 44px;
    font-weight: bold;
}
.txt3{
    color: #87879D;
    font-size: 18px;
    line-height: 26px;
    font-weight: lighter;
}
.sub-con{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 40vh;
    display: flex;  
}
  .mincon{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    align-items: center;
    justify-items: center;
}
  .right{
    color: #FAFAFA;
    font-size: 40px;
    line-height: 44px;
    font-weight: bold;
}
.midd{
    color: #FAFAFA;
    font-size: 18px;
    font-weight: lighter;
    line-height: 26px;
}
.button{
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 15px;
}
.dloadbut{
    position: relative;
    background-color:#855FB1;
    color: #FFFFFF;
    border-radius: 30px;
    border: none;
    width: 193px;
    height: 58px;
    font-size: 16px; 
    line-height: 26px;
    padding-right: 30px;
}
.dloadbut:hover {
    background-color:#B18BDD;
    transition: 0.7s;
}
.vtxt{
    position: absolute;
    right: 187px;
    color: #D9B8FF;
}

/* === Mobile === */

@media only screen and (min-width: 320px) and (max-width: 640px){
    body{
        align-items: center ; 
        justify-content: center; 
}
    .grp{
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .group-chat{
        grid-template-columns: 1fr;
        grid-gap: 10px;
        align-items: center;
        justify-content: center;
    }
    .propic1{
        width: 100%;
        height: 100%;
    }
    .propic2{
        width: 100%;
        height: 100%;
    }
    .vtx{
        top: 773px;
        left: 180px;
    }
    .team{
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }
    .textcon{
        width: 80%;
    }
    .majtext{
        font-size: 40px;
        line-height: 44px;
        margin: 0;
    }
    .minjxt{
        font-size: 16px;
    }
    .butt{
        display: block;
        align-content: center;
        margin-left: 170px;
    }
    .dload{
        margin-right: 0px;
    }
    .what{
    margin-top: 10px;
    margin-left: 25px;
    }
    .mincon{
        grid-template-columns: 1fr;

    }
    .right{
        font-size: 32px;
        text-align: center;
        line-height: 36px;
    }
    .midd{
        text-align: center;
    }
    .vtxt{
        right: 100px;
    }
    
}

/* === Tablet === */
